@{
    ViewData["Title"] = "All Books";

}

@model IEnumerable<BookModel>




<div class="container">
    <h1>All Books</h1>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <partial name="_bookThumbnail" model="@book"/>

                <!--<div class=" = card mb-4 shadow-sm">-->
                @*<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>*@
                <!--<img src="@book.CoverImageURL" width="340" height="300" class="rounded mx-auto d-block" />
                    <div class="card-body">
                        <h3 class="card-title">@book.Title</h3>
                        <p class="card-text">@book.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-route="BookDetailsRoute" asp-route-id="@book.Id" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">@book.Author</small>
                        </div>
                    </div>
                </div>-->
            </div>
        }
    </div>
</div>
